@page "/Productos"
@using Modelos

<AuthorizeView Roles="Administrador, Usuario">
    <Authorized Context="AuthenticationState"> 


        <table>
            <thead>
                <tr>
                    <th><h1>Productos Super Burger</h1></th>
                    <th><img src="/Img/logo.png" width="50px" height="0px" /></th>
                    <th><img src="/Img/logo.png" width="100px" height="100px" /></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><h3>Restaurante:</h3></td>
                    <th>Super Burguer</th>
                    <td></td>

                </tr>
                <tr>
                    <td><h3>Ubicacion:</h3></td>
                    <td>Tegucigalpa</td>
                    <td></td>
                </tr>
                <tr>
                    <td><h3>Gmail:</h3></td>
                    <td>SuperBurguer@gmail.com</td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <div class="form-group row">
			<div class="col-sm-10">
                <a href="/Productos/Nuevo" class="btn btn-primary m-1">Agregar un nuevo producto</a>
			</div>		
		</div>

        @if(listaProductos == null)
        {
            <p>No existen productos en el sistema</p>
        }
        else
        {
             <table class="table">
                 <thead>
                     <tr>
                         <th>Código</th>
                        <th>Tipo Hamburguesa</th>
                        <th>Existencia</th>
                        <th>Precio</th>
                        <th>Foto</th>
                        <th>Esta Activo</th>
                     </tr>
                 </thead>
                 <tbody>
                     @foreach(Producto prod in listaProductos)
                    {
                        <tr>
                            <th>@prod.Codigo</th>
                            <th>@prod.Descripcion</th>
                            <th>@prod.Existencia</th>
                            <th>@prod.Precio</th>
                            @if (prod.Foto != null)
                            {
                                <th>
                                    <img src="data:image;base64,@System.Convert.ToBase64String(prod.Foto)" width="40" height="40" />
                                </th>
                            }
                            else
                            {
                                <th></th>
                            }
                            @if (prod.EstaActivo)
                            {
                                <td>
                                    <span class="oi oi-circle-check" style="color:green;"></span>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <span class="oi oi-circle-x" style="color:red;"></span>
                                </td>
                            }
                            <th>
                                <a class="btn btn-success" href="@($"/Productos/Editar/{prod.Codigo}")">Editar</a>
                            </th>
                        </tr>
                    }
                </tbody>
             </table>
        }
    </Authorized>
    <NotAuthorized>
        <h3>No tiene permisos para acceder a esta ruta</h3>
    </NotAuthorized>
</AuthorizeView>

