@page "/Listado"

@using Modelos


<AuthorizeView Roles="Administrador,Usuario">
    <Authorized Context="AuthenticationState">
        <center>
            <div>
                <h2 style="font-variant:lighter; color:dodgerblue">Facturas realizadas</h2>
            </div>
        </center>

        @if (lista == null)
        {
            <p>No se encontraron Facturas registradas...</p>
        }
        else
        {
            <table class="table">

                <thead>
                    <tr>
                        <th scope="col">Orden #</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">ID-Cliente</th>
                        <th scope="col">ISV</th>
                        <th scope="col">Descuento</th>
                        <th scope="col">Sub-Total</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    @foreach (Factura factura in lista)
                    {
                        <tr>
                            <td>@factura.Id</td>
                            <td>@factura.Fecha</td>
                            <td>@factura.IdentidadCliente</td>
                            <td>@factura.ISV</td>
                            <td>@factura.Descuento</td>
                            <td>@factura.SubTotal</td>
                            <td>@factura.Total</td>

                            <th>
          
                                <input type="submit" class="btn btn-danger" value="Eliminar" @onclick="Eliminar" />
                            </th>
           
                        </tr>
                    }
                </tbody>

            </table>

            <div>
                <br /><br /><br />
            </div>

            <div class="col-12 row">
                <span class="col-12"></span>
                <a href="/Factura/NuevaFactura" class="form-control col-6 btn btn-primary" style="color:black">Nuevo</a>
            </div>
        }
    </Authorized>
    <NotAuthorized>
        <h3>Debe ser Administrador Para visualizar</h3>
    </NotAuthorized>
</AuthorizeView>

